@{
    ViewBag.Title = "Contact Us";
}
<h2>@ViewBag.Title</h2>

<address>
    <strong>Address:</strong><br />
    Prism co-working space, Fleming<br />
    Alexandria, Egypt.
</address>

<address>
    <strong>Support:</strong><br />
    <a href="mailto:support@ubooks.com">support@ubooks.com</a>
</address>