@{
    ViewBag.Title = "Home Page";
}

<h1>UBooks</h1>

<div class="row">
    <div class="col-md-6">
        <h2>Have and old book ?</h2>
        <p>
            Click the button below to add a book for sell.
        </p>
        <p><a class="btn btn-default" href="#">Sell book</a></p>
    </div>
    <div class="col-md-6">
        <h2>Can't find an old book ?</h2>
        <p>
            Click the button below to ask for a specific book you need.
        </p>
        <p><a class="btn btn-default" href="#">Buy book</a></p>
    </div>
</div>